:local {
    .registerContainer {
      display: flex;
      flex-direction: column;
      flex: 1;
      .body {
        display: flex;
        flex: 1;
        background: linear-gradient(135deg, #43a5db 0%, #5dc596 100%);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        .accessContainer {
          flex: 1;
          display: flex;
          border-right: 1px solid $text_grey_light;
          .card {
            margin: auto;
            box-shadow: 0px 0px 10px 9px rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12),
              0 1px 5px 0 rgba(0, 0, 0, 0.2);
            .logo {
              height: 35px;
              margin: 5px 0 15px 0;
            }
            button,
            input {
              font-size: 12px;
            }
            .alertWrapper {
            }
          }
        }
        .requestContainer {
          flex: 1;
          display: flex;
        }
      }
      .footer {
        z-index: 1;
        bottom: 15px;
        position: absolute;
        width: 100vw;
        display: flex;
        span {
          font-size: 12px;
          text-align: center;
          font-weight: bold;
          color: white;
          margin: auto;
          .strong {
            color: white;
            font-weight: bolder;
          }
          i {
            font-size: 20px;
            margin: auto 0px;
            vertical-align: middle;
            &.copyright {
              font-size: 14px;
              margin: auto 3px;
            }
          }
        }
      }
    }
  }
  
  .elementor-shape {
    overflow: hidden;
    position: absolute;
    left: 0;
    width: 100%;
    line-height: 0;
    direction: ltr;
  }
  .elementor-shape-bottom {
    bottom: -1px;
  }
  .elementor-shape[data-negative="false"].elementor-shape-bottom {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  .elementor-shape .elementor-shape-fill {
    fill: #035832;
    -webkit-transform-origin: center;
    -ms-transform-origin: center;
    transform-origin: center;
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  